.menu-page header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../../utils/images/menu-section-img.jpg);
}
.category-buttons .btn-primary {
    background-color: #ffcc00;
    color: black;
    border: none;
  }
  
  .category-buttons .btn-outline-primary {
    background-color: transparent;
    color: #ffcc00;
    border: 1px solid #ffcc00;
  }
  
  .category-buttons button:hover {
    background-color: #ff9900;
    color: white;
  }
  
  .menu-cards {
    gap: 20px;
  }
  